<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Llantas<span>Grecia</span></h3>

				<p class="footer-links">
					<a href="#" class="link-1">Home</a>
					
					<a href="#">Catálogo</a>
				
					<a href="#">Ofertas</a>
				
					<a href="#">Contáctenos</a>
					
					<a href="#">Login</a>
					
					<a href="#">Carrito de compra</a>
					
				</p>
				
				<p class="footer-company-name">Mario Hidalgo © 2020</p>
			</div>

			<div class="footer-center">

				
				
<div class="a">
				<a href="https://www.waze.com/es/livemap/directions/serbia/los-angeles,-bolivar,-grecia/llantas-grecia-s.a.?place=w.180682853.1806762994.3866329&utm_expid=.K6QI8s_pTz6FfRdYRPpI3A.0&utm_referrer=https%3A%2F%2Fwww.google.com%2F" target="_bladnk"> </a>
			<p></p>
				</div>			 

				


				<div>
					<i class="fa fa-phone"></i>
					<p>( 506 )  8522 - 4085</p>
				</div>

				<div class="a">
				
					<p><a href="mailto:llantasgrecia@gmail.com">llantasgrecia@gmail.com</a></p>
				</div>
				


			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>Acerca de la empresa</span>

					Somos una empresa dedicada a la venta y 
					comercialización de llantas y aros de lujo. 
					Además poseemos equipo que nos permite brindar 
					el servicio de mecánica rápida. Nuestro principal 
					objetivo es ofrecer una solución rápida e integral 
					a nuestros clientes. Esperamos nos visiten,
					 nos pueden encontrar a través de Waze con
					  el nombre "Llantas Grecia"				</p>

				<div class="footer-icons">

					<a href="https://www.facebook.com/llantasgrecia" target="_blank"><i class="fa fa-facebook"></i></a>

					<a href="https://www.waze.com/es/livemap/directions/serbia/los-angeles,-bolivar,-grecia/llantas-grecia-s.a.?place=w.180682853.1806762994.3866329&utm_expid=.K6QI8s_pTz6FfRdYRPpI3A.0&utm_referrer=https%3A%2F%2Fwww.google.com%2F" target="_bladnk"></a>

					<a href="https://www.facebook.com/llantasgrecia" target="_bladnk"></a>

					<a href="https://www.instagram.com/llantasgrecia/?hl=es-la" target="_bladnk"></a>



					

				</div>

			</div>

		</footer>